body {
	padding-top: 100px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

form {
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
}

input[type="url"] {
	width: 80%;
}

#short-url-container {
	margin-top: 50px;
	display: none;
}